<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <listeners>
  	<listener class-name="clientapp.testcomponents.Listeners"></listener>
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="clientapp.tests.ClientAppTest"/>
      <class name="clientapp.tests.DataProviderTest"/>
      <class name="clientapp.tests.JsonDataTestByListeners"/>
      <class name="clientapp.tests.JsonDataTest"/>
      <class name="clientapp.tests.ErrorValidationsTest"/>
      <class name="clientapp.tests.HashMapTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
